
<div class="createPost">
  <div class="container">
    <div class="pageTitle">
      Create New Post
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
        <form [formGroup]="postForm" (ngSubmit)="createPost">

        <div class="formInput">
          <label for="title">Title :</label>
          <input type="text" id="title" formControlName="title">
          <div class="errorMessage" *ngIf="postForm.controls.title.invalid && postForm.controls.title.touched">please fill the title </div>
        </div>
        <div class="formInput">
          <label for="dsc">Desription :</label>
          <textarea id="dsc" rows="8" formControlName="dsc"></textarea>
        </div>
      </form>

        <div class="formInput tag">
          <label for="tag">Tags:</label>
          <div class="tagInput">
            <input type="text" id="tag" [(ngModel)]="inputTag">
            <button class="btn-addTag" (click)="addTag()">add tag</button>
          </div>
          <div class="errorMessage" *ngIf="hassTagError" >please add at least 1 tage</div>
          <div class="tags create">
            <div class="tag_item" *ngFor="let tag of tagList">
              {{tag}}
              <button (click)="deleteTag(tag)">
                <svg  viewBox="0 0 311 311.09867"  xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="m16.042969 311.097656c-4.09375 0-8.191407-1.554687-11.304688-4.691406-6.25-6.25-6.25-16.386719 0-22.636719l279.058594-279.058593c6.253906-6.253907 16.386719-6.253907 22.636719 0 6.25 6.25 6.25 16.382812 0 22.632812l-279.0625 279.0625c-3.136719 3.136719-7.230469 4.691406-11.328125 4.691406zm0 0"/><path d="m295.125 311.097656c-4.09375 0-8.191406-1.554687-11.304688-4.691406l-279.082031-279.082031c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.632813 0l279.0625 279.082031c6.25 6.25 6.25 16.386719 0 22.636719-3.136719 3.136719-7.230469 4.691406-11.308594 4.691406zm0 0"/>
                  </g>
                </svg>
              </button>
            </div>
          </div>
          
        </div>
       

      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <div class="formInput file">
          <label for="image">image : </label>
          <input type="file" (change)="fileSelected($event)"  accept="image/*"
          name="image">
          <div *ngIf="selectedFile" class="img-preview-container">

            <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                 [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
            </div>
          
           
          
            
          </div>
          <div class="errorMessage" *ngIf="hassImageError">please select image</div>
          
        </div>
      </div>
     
    </div>
    <div class="row">
      <div class="form-bottom">

        <button class="btn-submit" (click)="createPost()">Create Post
          <div class="loader" *ngIf="selectedFile?.pending"></div>

        </button>
        <div class="successMessage" *ngIf="selectedFile?.status==='success'">
          post created
        </div>
      </div>
    </div>
  </div>
</div>
